@font-face {
    font-family: neuzeits;
    src: url(../fonts/neuzeitsltstd.otf)
}

.forward, .backward, .left, .right, .up, .down, .for-loop, .end-for, .while, .end-while, .turn-right, .turn-left {
    margin: auto;
    border-radius: 3px;
    text-align: center;
    cursor: move;
}

.for-loop, .end-for {
    background-color: #61aeee;
}

.while, .end-while {
    background-color: #c678dd;
}

.turn-right, .turn-left {
    background-color: #eea061;
}

.forward, .backward, .left, .right, .up, .down {
    background-color: #e06c75;
}