@font-face {
    font-family: neuzeits;
    src: url(../fonts/neuzeitsltstd.otf)
}

.code-block {
    margin: auto;
    border-radius: 3px;
    text-align: center;
}

.code-block.for-loop {
    background-color: #77ACFC;
    margin-bottom: 5%;
}

.code-block.while {
    background-color: red;
    margin-bottom: 5%;
}

.code-block.forward, .code-block.backward, .code-block.left, .code-block.right, .code-block.right-turn, .code-block.left-turn {
    background-color: orange;
    margin-bottom: 5%;
}