@font-face {
    font-family: neuzeits;
    src: url(../fonts/neuzeitsltstd.otf)
}

.forward, .backward, .left, .right, .up, .down, .for-loop, .while, .turn-right, .turn-left {
    margin: auto;
    border-radius: 3px;
    text-align: center;
    cursor: move;
    margin-bottom: 5%;
}

.for-loop {
    background-color: #77ACFC;
}

.while {
    background-color: red;
}

.turn-right, .turn-left {
    background-color: green;
}

.forward, .backward, .left, .right, .up, .down {
    background-color: orange;
}