@import "global.css";

* {
    font-family: neuzeits;
}

.bg-lgrey {
    background-color: #e5e5e5;
}

.bg-active {
    background-color: #6b99dd;
}

.bg-lblue {
    background-color: #77ACFC;
}

.outline {
    outline: auto;
}

.vr {
    position: absolute;
    right: 0px;
    border-left: 1px solid #000;
    height: 100%;
}

.overflow {
    overflow: auto;
}
